body {
  padding-top: 60px;
  background-image: radial-gradient(
    circle at 50% 50%,
    #ffffff 0,
    #ffffff 50%,
    #f4ecef 100%
  );
}

.navbar {
  background: rgb(255, 192, 140);
  background: radial-gradient(
    circle,
    rgba(255, 192, 140, 1) 1%,
    rgba(255, 138, 22, 1) 100%
  );
}

.active {
  background-color: #ffd5b1;
  border-radius: 20px;
}

.navbar .active {
  pointer-events: none;
}

.nav-link {
  position: relative;
  transition: all 0.3s ease;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #0480f0;
  transition: all 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.navbar .navbar-nav .nav-link {
  color: #000;
}

.table thead {
  background-color: #ffead8;
  color: #000;
}

.table th {
  background-color: #ffead8;
  color: #000;
}

.table td {
  background: rgb(230, 126, 34);
  background: linear-gradient(
    40deg,
    rgba(230, 126, 34, 0.07055322128851538) 48%,
    rgba(0, 212, 255, 0.09576330532212884) 100%
  );
}
.table .btn-primary {
  color: #000;
}

.btn-rounded {
  border-radius: 50%;
}

.btn-primary-hover {
  transition: transform 0.3s ease-in-out;
}

.btn-primary-hover:hover {
  transform: scale(1.1);
}

/* estilos del boton */
.btn-flotante {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: white;
  background: #ad5389;
  background: linear-gradient(40deg, rgba(255,186,125,1) 0%, rgba(230,126,34,1) 99%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #e67e22;
  letter-spacing: 0.05em;
  border-radius: 20em;
}

.btn-flotante svg {
  margin-right: 6px;
}

.btn-flotante:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}

.btn-flotante:active {
  box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}

/* estilos del buscador */
.inputContainer{
  width: 210px;
  height: 50px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: radial-gradient(circle at -11.24% 14.64%, #ffcb3c 0, #ffb932 16.67%, #ffa020 33.33%, #ff8000 50%, #f25d00 66.67%, #ea3b00 83.33%, #e70909 100%);
  border-radius: 30px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
}

.inputSearch {
  width: 200px;
  height: 40px;
  border: none;
  outline: none;
  caret-color: rgb(255, 81, 0);
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  padding-left: 15px;
  letter-spacing: 0.8px;
  color: rgb(19, 19, 19);
  font-size: 13.4px;
}

